body
{
	width:98%;
	color: #ffffff;
	background-color: #000033;
	background-repeat: repeat-x;
}

a:link
{
	color: #6699CC;
}

a:visited
{
	color: #6699CC;
}

a:hover
{
	color: #6699CC;
}

a:active
{
	color: #6699CC;
}

#lblInfo
{
	font-size:16pt;
}

#lblLang1
{
	font-size:26pt;
}

#lblLang2
{
	font-size:26pt;
}

#lblNext
{
	font-size:42pt;
	text-align:center;
	width:48%;
	float:left;
}

#lblDone
{
	font-size:42pt;
	text-align:center;
	width:48%;
	float:right;
}

#page_debug
{
	color:red;
}
