body
{
	width:98%;
/*	color: #ffffff;	*/
/*	background-color: #000033;	*/
	background-repeat: repeat-x;
}

a:link
{
	color: #6699CC;
}

a:visited
{
	color: #6699CC;
}

a:hover
{
	color: #6699CC;
}

a:active
{
	color: #6699CC;
}

#lblInfo
{
	font-size:16pt;
}

#lblLang1
{
	font-size:26pt;
}

#lblLang2
{
	font-size:26pt;
}

#lblNext
{
	font-size:42pt;
	text-align:center;
	width:48%;
	float:left;
}

#lblDone
{
	font-size:42pt;
	text-align:center;
	width:48%;
	float:right;
}

#page_debug
{
	color:red;
}

#section_startpage
{
/*	font-size:20pt;*/
}

#collection_name
{
	font-size:20pt;
}

#collection_count
{
	font-size:14pt;
}

div.entry_index
{
}

div.entry_text1
{
	color: #666666;
	font-size:24pt;
}

div.entry_text2
{
	color: #6666FF;
	font-size:24pt;
}

#section_info
{
	font-size:16pt;
}

div.class_entry
{
	margin:15px;
}
